%h3
  This is menu for 
  =@menu.date
.row
  .col-md-4
    %h3 First course dishes
    -@menu.first_course_dishes.each do |d|
      =link_to d.name, d
      =d.price
      %br
  .col-md-4  
    %h3 Second course dishes
    -@menu.second_course_dishes.each do |d|
      =link_to d.name, d
      =d.price
      %br
  .col-md-4  
    %h3 Drinks 
    -@menu.drinks.each do |d|
      =link_to d.name, d
      =d.price
      %br