%h3
  This is menu for 
  =@menu.date
%table.table-bordered
  %thead
    %tr
      %th First course dishes
      %th Second course dishes
      %th Drinks
  %tbody
    %tr
      %td 
        -@menu.first_course_dishes.each do |d|
          =d.name
          =d.price
          %br
      %td 
        -@menu.second_course_dishes.each do |d|
          =d.name
          =d.price
          %br
      %td 
        -@menu.drinks.each do |d|
          =d.name
          =d.price
          %br