%h1 Listing orders

%table
  %thead
    %tr
      %th Date
      %th Dish
      %th User
      %th Menu
      %th
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.date
        %td= order.drink
        %td= order.user
        / %td= order.total_price
        / %td= link_to 'Show', order
        / # %td= link_to 'Edit', edit_order_path(order)
        /%td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Back', :back
