%table.table-bordered.table
  %thead
    %tr
      %th Name
      %th Type
      %th Price
  %tbody
    - @dishes.each do |d|
      %tr
        %td=link_to d.name, d
        %td= d.type
        %td= d.price 
