%h2.text-center
  Our dishes
%h3.text-center.col-md-12
  First course
-@first.each do |d|
  .col-md-4
    =image_tag  d.avatar.thumb if d.avatar
    =link_to d.name, d
    =d.price_s
    =d.quantity_description if d.quantity_description
    =d.short_description if d.short_description
%h3.text-center.col-md-12
  Second course
-@second.each do |d|
  .col-md-4
    =image_tag  d.avatar.thumb if d.avatar
    =link_to d.name, d
    =d.price_s
    =d.quantity_description if d.quantity_description
    =d.short_description if d.short_description
%h3.text-center.col-md-12
  Drinks 
-@drinks.each do |d|
  .col-md-4
    =image_tag  d.avatar.thumb if d.avatar
    =link_to d.name, d
    =d.price_s
    =d.quantity_description if d.quantity_description
    =d.short_description if d.short_description