@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import "bootstrap-table";
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  background-color: #ff5722;
  color: white;
}

.navbar-right {
    float: right !important;
    margin-right: 0
}